
html, body{
    margin: 0;
    padding: 0;
    font-family:Helvetica;
}
footer,header{
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
}
section{
    background-color: #FFA4A2;
    height:650px ;
    width: 50%;
}
h3{
    margin: 0;
}

h4{
    margin: 0;
}
button {
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
  }
  main {
    display: flex;
    width: 100%;
  }