body {
    margin: 0;
    font-family: arial;
}
header {
    display: flex;
}
section#blokpierwszy {
    background-color: #483D8B;
    height: 150px;
    width: 30%;
}
section#blokdrugi {
    background-color: #483D8B;
    color: white;
    width: 150px;
    width: 70%;
}

.dzien {
    background-color: #AFEEEE;
    width: 150px;
    height: 100px;
    margin: 3px;
    border: 1px solid;


}

main{
    display: flex;
    flex-wrap: wrap;
}

h5{
    text-align: cetner;
}
footer{
    background-color: #483D8B;
    color: white;
    padding: 10px;
}
    
